{% load bootstrap3 %}
{% block content %}
<body>
{{object_list}}
{{ self_name }}
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
</body>

<h1> Timesheet detail </h1>
  <h3> Timesheet employee name: {{self_name}}</h3>
        <table class="table table-dark table-striped">

            <thead>
                <tr>
                <th scope="col"> Id </th>
                  <th scope="col"> Status Work</th>
                  <th scope="col"> Employee </th>
                    <th scope="col">Datetime start</th>
                    <th scope="col">Datetime complete</th>
                    <th scope="col">Time break</th>
                    <th scope="col">Employee name</th>

                </tr>
            </thead>
     <tbody>

    <tr>

                    <td>  {{object_list.id}}</td>
                    <td> {{object_list.status_work}}</td>
                    <td> {{object_list.employee}}</td>
                    <td> {{object_list.datetime_start}}</td>
                    <td> {{object_list.datetime_complete}}</td>
                    <td> {{object_list.time_break}}</td>

                    <td> {{self_name}}</td>


            <td> {{general_total_time}}</td>
     </tr>

     </tbody>
{% endblock %}

